{% extends 'base.html' %}
{% load static %}

   {% block  header%}
        {% include 'header.html' %}

    {% endblock %}


    {% block content %}

        <div class="wrap-contntent">

        <div class="container">
            <div class="row">

                <div class="col">
                    <div class="card">
                            <img class="img_main_icon" src="{% static 'img/per.png' %}">
                                <h4 class="card-h"> <a class="a_card" href="{% url 'person' %}">Пользователи</a></h4>
                    </div>
                </div>


                    <div class="col">
                        <div class="card">
                           <img class="img_main_icon" src="{% static 'img/pc_.png' %}">
                             <h4 class="card-h"> <a class="a_card" href="workspace">Рабочее место</a></h4>
                        </div>
                    </div>
                        <div class="col">
                           <div class="col">
                                <div class="card">
                                    <img class="img_main_icon" src="{% static 'img/print.png' %}">
                                    <h4 class="card-h"> <a class="a_card" href="#" >Печатные устройств</a></h4>
                                </div>
                    </div>
                        </div>
            </div>

            </div>

        </div>

        </div>

    {% endblock %}


    {% block footer %}
         {% include 'footer.html' %}
    {% endblock %}
