 {% extends 'base.html' %}
 {% load static %}
{% load bootstrap_pagination %}

 {% block header %}
      {% include 'header.html' %}
 {% endblock %}


    {% block content %}
      <div class="container">
        <div class="row">
            <div class="col-2"><h1 class="title-person">Пользователи</h1></div>
                <div class="col-6"></div>
        </div>
      </div>

        <div class="container">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-12">

                        <form class="form-inline" {% url 'person' %}  >
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>

                </div>
            </div>
        </div>

            <div class="table-wrap">


            <div class="row">
        <div class="col">
        </div>
        <div class="col-11">
            <table class="table table-hover table-inverse">
                  <thead>
                    <tr>

                      <th>Фамилия</th>
                      <th>Имя</th>
                      <th>Отчество</th>
                      <th>Телефон</th>
                        <th>Отдел</th>
                        <th>Должность</th>
                         <th>Элетронная почта</th>
                    </tr>
                  </thead>

                    {% for person in persons %}
                      <tbody>
                        <tr>
                            <td> {{ person.firstName }}</td>
                          <td> {{ person.lastName }}</td>
                          <td> {{ person.fatherName }}</td>
                          <td>{{ person.phone }}</td>
                            <td>{{ person.depatName }}</td>
                             <td>{{ person.position }}</td>
                            <td><a href="#">{{ person.email }}</a> </td>
                        </tr>
                      </tbody>
                    {% endfor %}
            </table>
        </div>
        <div class="col">
        </div>
      </div>
            </div>

    {% endblock %}




 {% block footer %}
     {% include 'footer.html' %}

 {% endblock %}

