{% extends 'base.html' %}
{% load static %}

{% block header %}
    <div class="container">
       <header>
            <nav class="navbar navbar-light bg-dark">
                <a class="link_header" href="#">Домой</a>
                <a class="link_header" href="#">Рабочее место</a>
                <a class="link_header" href="#">Принтеры</a>
                <a class="link_header" href="#">Картриджи</a>
                 <a class="link_header" href="#">Справочник</a>
            </nav>
       </header>
    </div>
{% endblock header %}




