{% extends 'base.html' %}
{% load static %}

   {% block  header%}
        {% include 'header.html' %}
    {% endblock %}

    {% block content %}

        <div class="container">
            <h4 class="title-application">Заявки</h4>

             <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
             </form>

               <div class="btn-add">
                    <button type="button" class="btn btn-secondary btn-sm">Добавить заявку</button>
               </div>
        <div class="wrap-content-app">
            <div class="row">
               {% for item in app %}
                   <div class="col">
                   <h3 class="title-app" >Номер</h3>
                       <p class="det-app">{{ item.number }}</p>
                    </div>
                        <div class="col-5">
                         <h3 class="title-app">Описание</h3>
                           <p class="det-app">{{ item.discription }}</p>
                        </div>
                             <div class="col">
                             <h3 class="title-app">Фамилия</h3>
                                <p class="det-app">{{ item.fistsName }}</p>
                             </div>
                                <div class="col">
                                 <h3 class="title-app">Статус</h3>
                                    <p class="det-app">{{ item.is_performed }}</p>
                                </div>
            </div>

               {% endfor %}
            </div>
        </div>




        </div>

    {% endblock %}


    {% block footer %}
         {% include 'footer.html' %}
    {% endblock %}
